
<input [ngClass]="{city:true}" type='text' placeholder="what's up for Sat?"><br>
<p  ></p>
<input [ngClass]="{city:true}"type='text' placeholder="what's up for Sun?"><br>
<p ></p>
<input [ngClass]="{city:true}"type='text' placeholder="what's up for Mon?"><br>
<p  ></p>
<input [ngClass]="{city:true}" type='text' placeholder="what's up for Tue?"><br>
<p ></p>
<input [ngClass]="{city:true}"type='text' placeholder="what's up for Wed?"><br>
<p  ></p>
<input [ngClass]="{city:true}"type='text' placeholder="what's up for Thu?"><br>
<p   ></p>
<input [ngClass]="{city:true}"type='text' placeholder="what's up for Fri?"><br>
<p  ></p>
