.city{
  width:100%;
  padding:13px 13px 13px 10px;
  font-size:18px;
  color:#2980b9;
  background-color: rgba(0,0,0,0.5);
  box-sizing:border-box;
  border: 3px solid rgba(0,0,0,0);
  margin-top: 2%;
}
.list{
  background:rgba(255,255,255,0.4);
  height:40px;
  line-height:40px;
  color:#000000;
}

p{
  font-size: 120%;
  padding-left: 2%;
}
